# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
env/
.venv/

# -----------------------------
# Environment Variables (IMPORTANT)
# -----------------------------
.env

# -----------------------------
# Database / Local Storage
# -----------------------------
*.db
*.sqlite3
chroma_db/
upload_state.json

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/